* {
  box-sizing: border-box;
}
body {
  background-color: #7a0099;
}
.content{
  background-color: #ff9514;
  width: 750px;
  border-radius: 10px;
  margin: auto;
}
h1 {
  text-align: center;
  color: #fff;
  font: 40px sans-serif;
  margin: 0;
  padding: 10px;
  font-weight: bold;
}
nav {
  display: inline-block;
  background-color: #e66700;
  vertical-align: top;
  border-radius: 10px;
  width: 180px;
  margin: 10px 0 10px 10px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
  background-color: #e66700;
  border-bottom: solid 1px #ff9514;
  border-top: solid 1px #ff9514;
  border-radius: 2px;
  text-align: center;
  height: 40px;
  margin: 10px 0;
}
nav a {
  display: block;
  text-decoration: none;
  color: #fff;
  font: 20px sans-serif;
  padding: 8px 0 7px 0;
}
nav a:hover {
  background-color: #ff9514;
}
section {
  margin: 10px;
  padding: 1em;
  color: #fff;
  font: 15px sans-serif;
  display: inline-block;
  vertical-align: top;
  background-color: #49005c;
  border-radius: 10px;
  width: 540px;
}
form {
  margin-top: 15px;
}
form>div {
  overflow: auto;
  margin-bottom: 10px;
  min-height: 40px;
}
.mainQuestion {
  display: block;
  float: left;
  clear: left;
  width: 30%;
  text-align: right;
  margin-right: 20px;
}
.mainQuestion::after {
  content: " :"
}
input {
  height: 30px;
}
input[type="text"], input[type="date"], input[type="password"], textarea {
  appearance: none;
  width: 300px;
  border-radius: 3px;
  background: linear-gradient(60deg, #fff, #fae5ff);
  border: solid 1px #9f00c7;
}
fieldset {
  -webkit-appearance: none;
  border: none;
}
input[type="radio"] {
  appearance: none;
  display: inline-block;
}
span {
  display: inline-block;
  margin-bottom: 20px;
}
textarea {
  height: 10em;
}
textarea:focus{
  outline-color: #ff9514;
}
input:focus {
  outline-color: #ff9514;
}
input[type="radio"]:checked {
  color: red;
}
.button {
  margin: 0;
}
button {
  float: right;
  background: linear-gradient(to top, #8b00ad, #9f00c7);
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #f4c7ff;
  font-size: 15px;
}
button:hover {
  background: linear-gradient(to bottom, #8b00ad, #9f00c7);
}
.button a {
  text-decoration: none;
  color: #8b00ad;
  float: right;
  margin: 14px 0 0 10px;
}
.button a:hover {
  text-decoration: underline;
}
